# Credenciales para Google Sheets API en una sola línea.
# Copia el contenido de tu archivo JSON, pásalo por un "JSON minifier" en línea para que sea una sola línea, y pégalo aquí.
GOOGLE_APPLICATION_CREDENTIALS_JSON='{}'

# API Key de Groq
GROQ_API_KEY=""

# ID de la hoja de cálculo de Google Sheets
SHEET_ID=""